.movie-table {
    font-size: 12px;
    line-height: 14px;
    margin: 0;

    &__column-box {
        display: flex;
        align-items: center;
        justify-content: end;
        min-height: 30px;
    }

    &__sorting {
        display: flex;
        flex-direction: column;
        margin-left: 7px;

        img {
            width: 6px;
            height: 5px;
            cursor: pointer;
        }
    }

    &> :not(:first-child) {
        border-top: 1px solid #C4C4C4;
    }

    &> :not(caption)>*>* {
        border-bottom: none;
        padding: 14px 0;
    }

    th {
        font-weight: 400;
        text-align: right;
        padding-left: 15px;
        padding-right: 15px;

        &:first-child {
            text-align: left;
            padding-left: 0;
            padding-right: 15px;

            .movie-table__column-box {
                justify-content: start;
            }
        }

        &:last-child {
            padding-right: 0;
        }
    }

    td {
        text-align: right;
        padding-left: 15px;
        padding-right: 15px;

        &:first-child {
            text-align: left;
            padding-left: 0;
            padding-right: 15px;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.loader-container {
    margin-top: 51px;
    margin-bottom: 55px;

    img {
        height: 24px;
        width: 23px;
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(360deg);
    }

    to {
        -ms-transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(360deg);
    }

    to {
        -moz-transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}